<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <div class="container">
    <h1>Notícias em <%= cidade ? cidade : "???" %> <%= topic ? "(" + topic + ")" : "" %></h1>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } else if (artigos.length === 0) { %>
      <p>Nenhuma notícia encontrada.</p>
    <% } else { %>
      <ul>
        <% artigos.forEach(artigo => { %>
          <li>
            <a href="<%= artigo.url %>" target="_blank"><%= artigo.title %></a>
            <span> - <%= artigo.source %> (<%= artigo.publishedAt %>)</span>
          </li>
        <% }) %>
      </ul>
    <% } %>

    <a href="/" class="back"><i class="fa-solid fa-arrow-left"></i> Nova busca</a>
    <form action="/news" method="post">
      <input type="hidden" name="cep" value="<%= cep %>">
      <input type="hidden" name="topic" value="<%= topic %>">
       <input type="hidden" name="page" value="<%= currentPage + 1 %>">
      <button type="submit">Ver Mais</button>
    </form>
  </div>
</body>
</html>
